
.navbar {
  width:100%;
  padding:0 22px !important;
  font-family: sans-serif;
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "routeTitle new profile";
}
.routeTitle {
  font-family: Arial;
  grid-area: routeTitle;
  width: 100%; 
  height:100%;
}
.routeTitle p {
  margin-top: 22px;
  font-family: Arial;
  font-size: 20px;
  line-height: 23px; 
}


.profile .profileItem{
  color: white;    
  border: none;    
  font-family: sans-serif;
  cursor: pointer;
}
.profile .profileItem #dropdown-left__BV_toggle_{
  background: #4F3767;
  border: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}
.profile{
  grid-area: profile;
}


.new {
  grid-area: new;
  width: 100%;
  padding-right: 22px;
}
.new .newBtn {
  color: white;
  border: none;  
  font-family: sans-serif;
  cursor: pointer;
}
.new .newBtn #dropdown-right__BV_toggle_{
  width: 70px;
  height: 35px;
  background: #3897F0;
  border-radius: 4px;
}
.new .newBtn #dropdown-right__BV_toggle_ span{
  position: absolute;
  top: 9px;
  right: 14px;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}

.new .newBtn #dropdown-right__BV_toggle_ i{
  font-size: 10px;
  float: left;
}
.schoolProfileNav{
  height: 100%;
  display: grid;
  grid-template-areas: "logo skulTitle" "logo ul";
  grid-template-columns: 40px auto;
  grid-template-rows: 35px 35px;
}
.schoolProfileNav p{
  font-family: Arial;
  font-size: 15px;  
  font-weight: bold;
  display: inline;
}

.schoolProfileNav .logo{
  grid-area: logo;
  width: 100%;
  height: 100%;
  display: flex
}
.schoolProfileNav .logo span{
  height: 40px;
  background: #4F3767;
  flex: 1;
  border-radius: 3px;
  margin: auto;

}
.schoolProfileNav .schoolTitle{
 grid-area: skulTitle;
 box-sizing: border-box;
 padding:7px 16px 0;

}
.schoolProfileNav .schoolTitle i{
  margin-left:15px
}

.schoolProfileNav .Options ul{
  grid-area: ul;
  list-style: none;
  padding:5px 0 0 0;
  margin: 0;
}

.schoolProfileNav .Options ul li{
  font-family: 'Roboto','sans-serif';
  font-style: normal;
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.schoolProfileNav .Options ul li a{
  font-size: 14px;
  line-height: 15px;
  color: #a3a6a9; 
  font-weight: 500;
  padding-bottom: 8px;


}


.schoolProfileNav .Options ul li a:hover{
  color: #454647;
  text-decoration: none;
}
.schoolProfileNav .Options ul li .router-link-exact-active{
  color: #008CE3;
  border-bottom: 2px solid #008CE3;
}


@media screen and (max-width:660px){
  .navbar{
    width:100%;
    padding:0 !important
  }
  .new .newBtn #dropdown-right__BV_toggle_ span{
    display:none;
  }
  .new .newBtn #dropdown-right__BV_toggle_{
    width: 25px;
    height: 25px ;
    padding-left: 8px;   
  }
  .schoolProfileNav .logo span{
    height: 25px;    
  }
  .schoolProfileNav .logo{
    padding-left: 5px; 
   }
   .schoolProfileNav .schoolTitle{   
    padding:12px 3px 0;
   
   }
   .schoolProfileNav .schoolTitle i {
    margin-left: 13px;
}
    .schoolProfileNav p {
      font-size: 13px;
    }
    .schoolProfileNav .Options ul li a {
      font-size: 12px;  
    }
    .schoolProfileNav .Options ul li {
      margin-left: 4px;
    }
    .schoolProfileNav {      
      grid-template-columns: 30px auto;
  }
  .new {    
    padding-right: 10px;
}
.profile{
  padding-right:5px
}
}


