
.schoolDetails{
    height:auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas: 
    "date"
    "infoContainer";
}
.schoolDetails {    
  .dateField {
    grid-area: date;
    border: 1px solid #E0E6E8;    
    box-shadow:0px 2px 6px 0px #797878;
    background:white;
    padding-top: 10px;
    padding-left: 19px;
  }
  .dateField .createdDate {   
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    align-items: center;
    color: #848f99;
  }
  .schoolContainer {
    grid-area: infoContainer;
    padding-top: 15px;   
  }
  .schoolInfo{
    border: 1px solid #d5dce0;
    box-sizing: border-box;
    border-radius: 2px;
    width:80%;
    margin:auto;
    background: white;
    height:auto;
    position: relative;
  }


  .profileInfo{
      height: auto;
      display: grid;
      padding: 15px;
      grid-template-rows:auto;
      grid-template-columns:1fr 1fr;
      grid-template-areas:
      "partOne partTwo"       
       
  }
  .title{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  .data{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 15px;
  }
 

  @media (max-width: 575px) {
    ol, ul, dl .partOne{
    
      margin-top: 0;
      margin-bottom: 0px;
  } 
    .partTwo{
      padding-top: 0px;
    }
       .data{
        font-size: 12px;
        margin-bottom: 10px;
      }
      .title{
        font-weight: bold;
        font-size: 12px;
    }
  }
}
