.schools{
  width: 70%;
  margin: auto;
  padding-top: 45px;
  .recent {
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 50px;
  }
  
  .schoolsList {
    display: grid;
    margin-left: 45px;
    padding-top: 12px;
    border-top: 1px solid #d2cdcd;
    grid-template-columns: 50px 1fr 30px;
    grid-template-rows: 22px 25px;
    grid-template-areas:
      "schoolLogo schoolName seeMore"
      "schoolLogo createdDate .";
    cursor: pointer;
  }
  
  .dot:hover {
    color: rgb(17, 17, 17);
  }
  .dot {
    font-size: 30px;
    color: #a9a9a9;
  }
  .seeMore {
    position: relative;
    right: 15px;
    grid-area: seeMore;
  }
  
  .list:hover {
    background: #bfb9b970;
    border-radius: 4px;
  }
  .schoolLogo {
    grid-area: schoolLogo;
    border-radius: 10%;
    height: 40px;
    width: 40px;
  }
  .schoolName {
    grid-area: schoolName;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: -3px;
  }
  .createdDate {
    grid-area: createdDate;
    font-family: "Roboto", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #9CA6AF;
  }
  
}
