.dashboardContent {
  padding-top: 45px;
}
.recent {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: 50px;
}

.company {
  width: 70%;
  margin: auto;
}
.companiesList {
  display: grid;
  margin-left: 45px;
  padding-top: 2px;
  border-top: 1px solid #d2cdcd;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 20px 1px;
  grid-template-areas:
    "busLogo busName more"
    "busLogo createdDate .";
  cursor: pointer;
}
.dot{
  font-size: 30px;
  color: #a9a9a9;
}
.moreDot {
  position: relative;
  right: 15px;  
  grid-area: more;
}
.moreDot #dropdown-left__BV_toggle_{
  background: none;
  border: none;
}
.moreDot #dropdown-left__BV_toggle_:focus{
  box-shadow:none;
}
.dot:hover {
  color: rgb(17, 17, 17);
}

.list:hover {
  background: #bfb9b970;
  border-radius: 4px;
}
.companyLogo {
  grid-area: busLogo;
  border-radius: 10%;
  height: 40px;
  width: 40px;
}
.companyName {
  grid-area: busName;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: -3px;
}
.createdDate {
  grid-area: createdDate;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #afafaf;
}
@media (max-width: 800px) {
  .company {
    width: 100%;
    padding: 0;
  }
  .dashboardContent {
    padding-top: 5px !important;
  }
}
