.navbar {
  padding: 10px;
  font-family: sans-serif;
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 114px 40px;
  grid-template-areas: "routeTitle new profile";
}
.routeTitle {
  font-family: sans-serif;
  font-weight: 600;
  grid-area: routeTitle;
  margin-top: -3px;
}
.routeTitle p {
  position: absolute;
  top: 18px;
}
@media (max-width: 800px) {
  .routeTitle p {
    position: absolute;
    top: 19px;
    left: 70px;
  }
  .routeTitle .sidebarToggler {
    display: inherit !important;
  }
}
.routeTitle .sidebarToggler {
  position: absolute;
  top: 13px;
  font-size: 25px;
  cursor: pointer;
}
.routeTitle .sidebarToggler:hover {
  color: grey;
}
.routeTitle .sidebarToggler .fa-caret-right {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 24px;
}
.profile .profileItem{
  color: white;    
  border: none;    
  font-family: sans-serif;
  cursor: pointer;
  
}
.profile .profileItem #dropdown-left__BV_toggle_{
  background: #9a1b9a;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px !important;
}
.profile{
  grid-area: profile;
  padding-top: 4px;
}


.new {
  grid-area: new;
  padding-top: 4px;
}
.new .newBtn {
  color: white;
  background: #3897F0;
  border-radius: 4px;
  border: none;  
  font-family: sans-serif;
  cursor: pointer;
}
.new .newBtn #dropdown-right__BV_toggle_{
  width: 75px;
  height: 35px;
}
.new .newBtn #dropdown-right__BV_toggle_ span{
  position: initial;
  top: 2px;
  right: 10px;
  font-family: Arial;
font-size: 14px;
line-height: 16px;
}
.new .newBtn #dropdown-right__BV_toggle_ i{
 margin-right: 3px;
}
@media(max-width:400px){
  .navbar {
    padding: 10px;
    font-family: sans-serif;
    display: grid !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 81px 40px;
    grid-template-areas: "routeTitle new profile";
  }
  .new .newBtn #dropdown-right__BV_toggle_{
    width: 60px;
    height: 30px;
}
.new .newBtn #dropdown-right__BV_toggle_ i{
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 14px;
}
.new .newBtn #dropdown-right__BV_toggle_ span{
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 15px;
}
}
